@import "tailwindcss";
@import "tw-animate-css";


@theme {
    --font-playfair: "Playfair Display", serif;
    --font-jetbrains: "JetBrains Mono", monospace;
    --font-inter: "Inter", sans-serif;
}
